<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Departments add</title>
	<link th:replace = "layouts :: stylish" />
</head>

<body>
	
	<div th:replace = "layouts :: navbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		<form th:object = '${department}' th:action = '@{/app/departments/departments-add}' method = 'POST' >
			<fieldset>
				<div class="form-group">
				  <label class="col-form-label" for="inputDefault">ID</label>
				  <input th:field = '*{deptno}' type="number" min='1' class="form-control col-sm-3" placeholder="Enter department_id..." id="inputDefault" />
				  <span th:if="${#fields.hasErrors('deptno')}" th:errors="*{deptno}"></span>
				</div>
				<div class="form-group">
				  <label class="col-form-label" for="inputDefault">Name</label>
				  <input th:field = '*{dname}' type="text" class="form-control col-sm-3" placeholder="Enter department_name..." id="inputDefault" />
				  <span th:if="${#fields.hasErrors('dname')}" th:errors="*{dname}"></span>
				</div>
				<div class="form-group">
				  <label class="col-form-label" for="inputDefault">Location</label>
				  <input th:field = '*{loc}' type="text" class="form-control col-sm-3" placeholder="Enter department_loc..." id="inputDefault" />
				  <span th:if="${#fields.hasErrors('loc')}" th:errors="*{loc}"></span>
				</div>
			</fieldset>
			
			<br><br>
			<p th:text = '${msg}' ></p>
			
			<br><br>
			<div align='center'>
				<input type='submit' class='btn btn-primary col-sm-6' value = 'Add Department' />
			</div>
			
		</form>
		
	</div>
	
	<br><br><br><br><br>
	
</body>
</html>







