<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>employees-list</title>
	<link th:replace = "layouts :: stylish" />
</head>

<body>
	
	<div th:replace = "layouts :: navbar"></div>
	<br><br><br><br><br>
	
	<div class='container container-fluid'>
		
<!--   		<div align = 'center'><h4 th:text = "number of records : ${size}" ></h4></div> -->
		
		<br><br>
		
		<div th:switch="${employees}">
	    <h2 th:case="null">No Employees yet!</h2>
	        <div th:case="*">
	            <h2 th:text = '${size}' ></h2>  <br>
	            <table class="table table-striped table-hover ">
	                <thead>
	                    <tr>
	                        <th>Name</th>
	                        <th>Job</th>
	                        <th>ManagerID</th>
	                        <th>hiredate</th>
	                        <th>Salary</th>
	                        <th>Commission</th>
	                        <th>Dentno</th>
	                        <th class='text-warning'><i>=>Edit</i></th>
	                        <th class='text-warning'>=>Delete</th>
	                    </tr>
	                </thead>
	                <tbody>
	                <tr th:each = "e : ${employees}">
	                    <td th:text="${e.ename}"></td>
	                    <td th:text="${e.job}"></td>
	                    <td th:text="${e.mgr}"></td>
	                    <td th:text="${e.hireDate}"></td>
	                    <td th:text="${e.sal}"></td>
	                    <td th:text="${e.comm}"></td>
	                    <td th:text="${e.department.deptno}"></td>
	                    <td><a class='btn btn btn-outline-success' th:href="@{/app/employees/employees-edit(id=${e.empno})}">Edit</a></td>
	                    <td><a class='btn btn btn-outline-danger' th:href="@{/app/employees/employees-delete(id=${e.empno})}" onClick="if (!(confirm('Are you sure you want to delete this employee?'))) return false" > Delete</a></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>      
	    <h4><a th:href="@{/app/employees/employees-add}">Add a new employee</a></h4>
	</div>

	</div>
	
	<br><br><br><br><br>
	
</body>
</html>







