<!DOCTYPE html>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
<!-- 	<title>Welcome</title> -->
	<link th:replace = "layouts :: stylish" />
</head>

<body>
	
	<div th:replace = "layouts :: navbar"></div>
	<br><br><br><br><br>
		
	<div class='container container-fluid'>
		
		
		<p th:text="'Hello, ' + ${name} + '!'" />
		
		<a class='btn btn-outline-success' th:href = "@{/app/employees/employees-list}" >Get to Employees list</a> <br>
		<a class='btn btn-outline-success' th:href = "@{/app/departments/departments-list}" >Get to Department list</a> <br>
		
	</div>
	
	<br><br><br><br><br>
	
</body>
</html>







